<!DOCTYPE html>
<html>
    <head>
        <title>Blog Application</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <h1>Home</h1>
            <form action="/create" method="POST">
                <input id="create" type="submit" value="Create Post">
            </form>
        </div>
        <div class="screen">
            <%if (locals.authors&&locals.titles){%>
            <%for (let i=0;i<authors.length&&i<titles.length;i++){%>
            <div class="spacer"></div>
            <div class="post">
                <h2><%=titles[i]%></h2>
                <hr>
                <h3><%="Written By: "+authors[i]%></h3>
                <hr>
                <form class="buttonPan">
                    <input id="edit" type="submit" value="Edit" formaction="/edit" formmethod="POST">
                    <input id="view" type="submit" value="View" formaction="/view" formmethod="GET">
                    <input id="delete" type="submit" value="Delete" formaction="/delete" formmethod="POST">
                </form>
            </div>

            <%}%>
            <%}%>
        </div>
    </body>
</html>